<!DOCTYPE html>
<html>
  <head>
    <title>Komaki</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
<%= link_to("ホームページ","/")%>
<%= link_to("サブページ","/sab")%>

<%= link_to("投稿一覧","/posts/index")%>
<%= link_to("新規投稿","/posts/new")%>


<%= link_to("ユーザー一覧","/users/index")%>
<%= link_to("新規登録","/users/new")%>

<%= link_to("サインイン","/login")%>
<%= button_to("ログアウト","/logout")%>

    <%= yield %>
  </body>
</html>
